- 
    let promoTags = ['Copyright, ', 'News, ', 'Open Source, ', 'Privacy'];
    let tagsList = ['bitcoin', 'bittorrent', 'irc', 'news', 'privacy', 'programming', 'security'];
    let i = 0;
    let contentPosts = [
        {
            img: 'assets/img/content_one.jpg',
            title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
            author: 'Derek Zimmer',
            date: 'JUL 25, 2018',
            tags: ['Governments, ', 'Networking, ', 'Open Source, ', 'Privacy, ', 'Security'],
            comments: '0'
        },
        {
            img: 'assets/img/content_two.jpg',
            title: 'How to get cheaper flights using a VPN',
            author: 'Jayson',
            date: 'JUL 24, 2018',
            tags: ['Guides'],
            comments: '0'
        },
        {
            img: 'assets/img/content_three.jpg',
            title: 'Net Neutrality was repealed, but the fight is far from over',
            author: 'Chris Miller',
            date: 'JUL 22, 2018',
            tags: ['Governments, ', 'Net Neutrality, ', 'News'],
            comments: '0'
        },
        {
            img: 'assets/img/content_one.jpg',
            title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
            author: 'Derek Zimmer',
            date: 'JUL 25, 2018',
            tags: ['Governments, ', 'Networking, ', 'Open Source, ', 'Privacy, ', 'Security'],
            comments: '0'
        },
        {
            img: 'assets/img/content_two.jpg',
            title: 'How to get cheaper flights using a VPN',
            author: 'Jayson',
            date: 'JUL 24, 2018',
            tags: ['Guides'],
            comments: '0'
        },
        {
            img: 'assets/img/content_three.jpg',
            title: 'Net Neutrality was repealed, but the fight is far from over',
            author: 'Chris Miller',
            date: 'JUL 22, 2018',
            tags: ['Governments, ', 'Net Neutrality, ', 'News'],
            comments: '0'
        }
    ]
    let blogLists = [
        {
            titleImg: 'assets/img/announcements.svg',
            title: 'Announcements',
            list: ['Upcoming Changes (Live Chat, Less Censorship, More Access)', 'New Servers (US Washington DC)', 'New Servers (US Denver)', 'Open Source: Releasing the PIA iOS Client', 'Opera Extension is now available']
        },
        {
            titleImg: 'assets/img/popular.svg',
            title: 'Popular posts',
            list: ['The Gift of Privacy', 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture', 'About the PIA Client Security and VPN Security in General', 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech', 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie']
        }

    ]
    let paysList = [
        {
            img: 'assets/img/visa.svg',
            alt: 'Visa'
        },
        {
            img: 'assets/img/mc.svg',
            alt: 'MasterCard'
        },
        {
            img: 'assets/img/amex.svg',
            alt: 'American Express'
        },
        {
            img: 'assets/img/paypal.svg',
            alt: 'PayPal'
        },
        {
            img: 'assets/img/bitcoin.svg',
            alt: 'Bitcoin'
        },
        {
            img: 'assets/img/OK.svg',
            alt: 'OK Pay'
        },
        {
            img: 'assets/img/amazon.svg',
            alt: 'Amazon Pay'
        },
    ]

main.main   
    section.promo 
        .container 
            .promo__wrapper 
                .promo__content 
                    p.promo__content-subtitle.
                        TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
                    .promo__info 
                        .promo__author 
                            span.promo__author-name Danica Sergison
                            span.promo__slash |
                            span.promo__date JUL 08, 2018
                        .promo__tags 
                            each link in promoTags
                                a.promo__tags-link(href="#") #{link}
                        .promo__comments
                            .promo__comments-icon
                                img(src="assets/img/promo_comment.svg", alt="Comment Icon")
                            span.promo__comments-count 0
    section.tags 
        .container 
            .tags__wrapper 
                span.tags__title TAGS: 
                ul.tags__list 
                    each tag in tagsList
                        li.tags__list-item
                            a.tags__list-link(href="#") #{tag}
                .tags__links 
                    a.tags__link(href="#") team 
                    a.tags__link(href="#") contact 
    section.content 
        .container 
            .content__wrapper 
                .content__posts 
                    h2.content__title Recent posts
                    ul.content__posts-list
                        each post in contentPosts
                            li.content__posts-item 
                                img.content__posts-img(src=post.img, alt="First Img")
                                .content__posts-info 
                                    h3.content__posts-title #{post.title} 
                                    .content__posts-author
                                        span.content__posts-name #{post.author}
                                        span.content__posts-slash |
                                        span.content__posts-date #{post.date}
                                    .content__posts-tag
                                        each link in post.tags
                                            a(href="#")  #{link}
                                    .content__posts-comments 
                                        img(src="assets/img/promo_comment.svg", alt="Comment Icon")
                                        span.content__posts-count #{post.comments} 
                    button.btn.btn__outline.content__btn older posts
                .content__blog
                    .content__search
                        img(src="assets/img/search_icon.svg", alt="Search Icon")
                        input(type="text" placeholder="Search blog")
                    .content__blog-lists
                        each item in blogLists
                            .content__lists-title
                                img(src=item.titleImg, alt="Item Img").
                                h3 #{item.title}
                            ul.content__blog-list 
                                each listItem in item.list 
                                    li.content__blog-item #{listItem}
                    .content__bitmap 
                        img(src="assets/img/bitmap.jpg", alt="Bitmap")
                    .content__tagcloud 
                        h3.content__tagcloud-title Tag cloud
                        img(src="assets/img/tagcloud.jpg", alt="Tagcloud")
    section.price 
        .container 
            .price__wrapper 
                h2.price__title Sign up today – 7 day money back guarantee
                .price__cards 
                    .price__card
                        h4.price__card-title MONTHLY
                        .price__card-price <span class="price__dollar">$</span>6.95<span class="price__mo">/mo.</span>
                        p.price__card-descr Includes all VPN features.
                        p.price__card-save 
                        button.btn.btn__outline.price__btn SIGN UP
                    .price__card.main 
                        h4.price__card-title Two Years
                        .price__card-price <span class="price__dollar">$</span>2.91<span class="price__mo">/mo.</span>
                        p.price__card-descr <span class="price__old">$166.80</span> $69.95 per two years
                        p.price__card-save Save 58%*
                        button.btn.btn__fill.price__btn SIGN UP
                    .price__card
                        h4.price__card-title YEARLY
                        .price__card-price <span class="price__dollar">$</span>3.33<span class="price__mo">/mo.</span>
                        p.price__card-descr <span class="price__old">$83.40</span> $39.95 per year
                        p.price__card-save Save 52%*
                        button.btn.btn__outline.price__btn SIGN UP
                .price__pay 
                    p.price__pay-text Ways to pay:
                    each img in paysList 
                        img(src=img.img, alt=img.alt)
                .price__links 
                    a.price__link(href="#") How to pay anonymously 
                    a.price__link(href="#") REDEEM GIFT CARD 


                
